  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Prominence Photography</h3>
      <p>Some Short Note</p>
      <div class="social-links">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-youtube"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Prominence</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="#">KS</a>
      </div>
    </div>
  </footer><!-- End Footer -->