{% extends 'client/base.html' %}
{% load static %}
{% block content %}

    <section class="inner-page" style="background: #c1d1c9;">
        <div class="container">
            <!-- ======= My Gallery Section ======= -->

            <!-- ======= Gallery Section ======= -->
            <section class="about" id="gallery">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <span>Gallery</span>
                        <h2>Gallery</h2>
                        <p>Here are some samples of our photography</p>
                        <hr>
                    </div>

                    {% for name in category_name %}
                        <div class="row justify-content-center">
                            <h2 class="text-center text-decoration-underline"><b>{{ name }}</b></h2>
                        </div>
                        <div class="gallery-slider swiper" data-aos="fade-up">
                            <div class="swiper-wrapper align-items-center">
                                {% for gallery in gallery_all %}
                                    {% if name == gallery.gallery_category.category_name %}

                                        <div class="swiper-slide" data-aos="fade-up"><a
                                                href="/media/{{ gallery.photo }}"
                                                class="gallery-lightbox"><img
                                                src="/media/{{ gallery.photo }}" class="img-fluid"
                                                alt=""></a></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>
    </section>
{% endblock %}