{% extends 'client/base.html' %}
{% load static %}
{% block content %}

    <section class="inner-page" style="background: #c1d1c9;">
        <div class="container">
            <!-- ======= My Gallery Section ======= -->

            <!-- ======= Gallery Section ======= -->
            <section class="about" id="gallery">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <span>Gallery</span>
                        <h2>Gallery</h2>
                        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                    </div>
                    <div class="gallery-slider swiper" data-aos="fade-up">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide" data-aos="fade-up"><a href="{% static 'assets/img/gallery/1.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/1.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/2.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/2.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/3.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/3.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/4.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/4.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/5.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/5.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/6.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/6.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/7.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/7.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/8.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/8.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/1.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/1.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/2.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/2.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/3.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/3.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/4.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/4.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/5.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/5.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/6.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/6.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/7.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/7.jpg' %}" class="img-fluid" alt=""></a></div>
                            <div class="swiper-slide"><a href="{% static 'assets/img/gallery/8.jpg' %}"
                                                         class="gallery-lightbox"><img
                                    src="{% static 'assets/img/gallery/8.jpg' %}" class="img-fluid" alt=""></a></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}